* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  gap: 10%;
}

.navbar {
  background: white;
  padding: 20px;
}
.navbar a{
  margin-right: 10px;
  text-decoration: none;
}

.box1 {
  position: relative;
  width: 350px;
  height: 500px;
  background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 50%, #00f376 60%, transparent 60%, transparent 100%);
  background-size: 15px 15px;
  box-shadow: 0 0 0 10px #000, 0 0 0 14px #00f376;
  animation: animate 0.5s linear infinite;
}
.box1::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: #000;
}
.box1::after {
  content: '';
  position: absolute;
  inset: 30px;
  border: 3px dashed #00f376;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 15px;
  }
}


.box2 {
  position: relative;
  width: 350px;
  height: 500px;
  background: linear-gradient(45deg, #2869e2 10%, transparent 10%, transparent 50%, #2869e2 50%, #2869e2 60%, transparent 50%, #2869e2 60%, transparent 60%, transparent 100%);
  background-size: 15px 15px;
  box-shadow: 0 0 0 10px #000, 0 0 0 14px #2869e2;
  animation: animate 0.5s linear infinite;
}
.box2::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: #000;
}
.box2::after {
  content: '';
  position: absolute;
  inset: 30px;
  border: 3px dashed #2869e2;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 15px;
  }
}

.box3 {
  position: relative;
  width: 350px;
  height: 500px;
  background: linear-gradient(45deg, #e22856 10%, transparent 10%, transparent 50%, #e22856 50%, #e22856 60%, transparent 50%, #e22856 60%, transparent 60%, transparent 100%);
  background-size: 15px 15px;
  box-shadow: 0 0 0 10px #000, 0 0 0 14px #e22856;
  animation: animate 0.5s linear infinite;
}
.box3::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: #000;
}
.box3::after {
  content: '';
  position: absolute;
  inset: 30px;
  border: 3px dashed #e22856;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 15px;
  }
}

.title {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}

.title-sub {
  text-align: center;
  margin-top: 50px;
}

.field {
  margin: 30px auto;
  width: 80%;
  background: white;
  color: black;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.button {
  padding: 15px 40px 15px 40px;

  background: rgb(15, 79, 173);
  color: white;
  border-radius: 20px;
  font-size: 20px;
}

.bookmark {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  line-height: 0px;
}

.img {
  width: 100%;
  height: auto;
}